@import 'tailwindcss';

@font-face {
  font-family: '1973MimiWorldR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.1/1973MimiWorldR.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimGeurimilgiTTF-R';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimGeurimilgiTTF-R.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 버튼/태그	#E0E7FF 배경 + #4338CA 텍스트*/
@theme {
  --color-primary: #4338ca;
  /*--color-secondary: var(--color-rose-quartz);*/
  --color-secondary: #e0e7ff;

  /* 회백색*/
  --color-light-gray: #f9fafb;

  /*짙은 남색 (다크 네이비)*/
  --color-dark-navy: #111827;

  --font-logo: 'SBAggroB';
  --font-title: '1973MimiWorldR';
  --font-content: 'HakgyoansimGeurimilgiTTF-R';
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-5xl p-5;
  }
}

:root {
  --color-rose-quartz: #f8cacc;
  --color-serenity: #8da4d0;
}
